/Primer Avance/nbproject/private/
/Frarlon_TallerExepciones/nbproject/private/
/Frarlon_TallerExepciones/build/
/TallerGenerecidad/nbproject/private/
/TallerGenerecidad/build/
/Frarlon_TallerGenerecidad/nbproject/private/
/Segundo Avance/ShedulesAdministrator/dist/
/Tercer Avance/ShedulesAdministrator 3/build/
/Tercer Avance/ShedulesAdministrator 3/dist/
/Tercer Avance/ShedulesAdministrator 3/nbproject/private/
/Tercer Avance/ShedulesAdministrator/dist/