/Primer Avance/nbproject/private/
/Frarlon_TallerExepciones/nbproject/private/
/Frarlon_TallerExepciones/build/
/TallerGenerecidad/nbproject/private/
/TallerGenerecidad/build/
/Frarlon_TallerGenerecidad/nbproject/private/
/Segundo Avance/ShedulesAdministrator/dist/